* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url(./assests/background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.section {
  display: flex;
  justify-content: center;
}

.container {
  width: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* margin-top: 40px; */
}

#card1 {
  width: 100%;
  padding: 10px 10px;
  border: 1px solid black;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin-left: 150px;
}

#card {
  width: 100%;
  padding: 10px 10px;
  border: 1px solid black;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin-right: 150px;
}

#card img {
  display: block;
  width: 200px;
  max-height: 180px;
  position: relative;
  margin: 20px auto;
}

#card1 img {
  display: block;
  width: 200px;
  max-height: 180px;
  position: relative;
  margin: 20px auto;
}

.hp {
  width: 80px;
  background-color: #ffffffe3;
  text-align: center;
  padding: 8px 0;
  border-radius: 30px;
  margin-left: auto;
  font-weight: 400;
}

.poke-name {
  text-align: center;
  font-weight: 600;
}

.types {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 40px 0;
}

.types1 {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 40px 0;
}

.hp span,
.types span,
.types1 span {
  font-size: 12px;
  letter-spacing: 0.4px;
  font-weight: 600;
}

.types span {
  padding: 5px 20px;
  border-radius: 20px;
  color: #ffffff;
}

.types1 span {
  padding: 5px 20px;
  border-radius: 20px;
  color: #ffffff;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.stats p {
  color: #404060;
}

.card_t {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.card_t p {
  color: #404060;
}

.result_section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.player {
  color: #ffffff;
}

.result,
.result1 {
  font-size: 25px;
  font-weight: 400;
  color: #ffffff;
}

.result {
  border-radius: 4px;
  padding: 4px;
}

.result1 {
  border-radius: 4px;
  margin-left: 600px;
  padding: 4px;
}

#btn {
  display: block;
  padding: 2px 50px;
  font-size: 18px;
  background-color: #101010;
  color: #ffffff;
  position: relative;
  margin: 30px auto;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.triangle {
}

#btn img {
  width: 50px;
  animation: rotation 5s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn_section {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn1,
.btn2,
.btn3,
.btn4,
.btn5 {
  display: block;
  padding: 5px 30px;
  background-color: #101010;
  color: #ffffff;
  position: relative;
  margin: 30px auto;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
